.img_container {
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    /* margin-bottom: 2rem; */
    aspect-ratio: 1;
    border-radius: 25%;
}

.img_container::after {
    content: "";
    display: block;
    padding-bottom: calc(900% / 16);
}

.img_container>* {
    position: absolute;
    top: var(--offset, 0);
    left: var(--offset, 0);
    width: calc(100% - 2 * var(--offset, 0px));
    height: calc(100% - 2 * var(--offset, 0px));
    object-fit: contain;
}

.img_blur {
    --blur: 5px;
    --offset: calc(-1 * var(--blur));
    object-fit: cover;
    filter: blur(var(--blur));
}